/* Colores de BitMusic */
:root {
    --light-goldenrod-yellow: #f6f4d2ff;
    --rich-black-fogra-29: #02111bff;
    --yellow-orange-color-wheel: #fa9500ff;
    --maximum-blue-purple: #b2abf2ff;
    --antique-ruby: #93032eff;
}

* {
    max-width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}