/* Colores de BitMusic */
:root {
    --light-goldenrod-yellow: #f6f4d2ff;
    --rich-black-fogra-29: #02111bff;
    --yellow-orange-color-wheel: #fa9500ff;
    --maximum-blue-purple: #b2abf2ff;
    --antique-ruby: #93032eff;
}

* {

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

img {
    max-width: 50% !important;
}

/* Footer */
.linkFooter {
    text-decoration: none !important;
    list-style-type: none !important;
}

/* Fin del footer */